body{
    margin: 0;
}
/*News Container*/
.newsContainerClass{
    width: 100vw;
    height: 20px;
    background-color: rgba(255, 255, 0, 0.388);
    color: coral;
    font-style: oblique;
    margin: 0;
} 

.newsContainerClass>div{
    float: left;
    background-color: rgba(255, 255, 0, 0);
    width: auto;
}

/*Navagation section*/

.navagationContainer{
    width: 100vw;
    height: 40px;
    background-color: rgba(255, 255, 0, 0.388);
    color: coral;
    font-style: oblique;
    margin: 0;
    padding: 0;
}
.openMenuContainer{
    background-color: rgba(255, 255, 255, 0);
    float: left;
    width: 40px;
    height: 40px;
}

.innerOpenMenuContainer{
    height: 20px;
    width:100%;
    display: inline-block;
    margin: 0;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.innerOpenMenuImage{
    height:20px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0);
    margin: 0;
}

.innerOpenMenuImage1{
    height: 20px;
    width:40px;
    background-color: rgba(255, 255, 255, 0);
    -moz-transition: all 1s ease; /* Firefox */
    -webkit-transition: all 1s ease; /* WebKit */
    -o-transition: all 1s ease;/* Opera */
    transition: all 1s ease;/* Standard */
}
.innerOpenMenuImage2{
    height: 20px;
    width:40px;
    background-color: rgba(255, 255, 255, 0);
    -moz-transition: all 1s ease; /* Firefox */
    -webkit-transition: all 1s ease; /* WebKit */
    -o-transition: all 1s ease;/* Opera */
    transition: all 1s ease;/* Standard */
}
.openMenuContainer:hover .innerOpenMenuImage1{
    -moz-transform: rotate(45deg);/* Firefox */
    -webkit-transform: rotate(45deg);/*Webkit*/
    -o-transform: rotate(45deg);/* Opera */
    transform: rotate(45deg);/* Standard */
    position: fixed;
    left : 0;
    top: 30px;
}

.openMenuContainer:hover .innerOpenMenuImage2{
    -moz-transform: rotate(-45deg);/* Firefox */
    -webkit-transform: rotate(-45deg);/*Webkit*/
    -o-transform: rotate(-45deg);/* Opera */
    transform: rotate(-45deg);/* Standard */
    position: fixed;
    left: 0;
    top: 30px;
}

.socialMediaContainer{
    width: 50%;
    height: 20px;
    background-color: rgb(160, 142, 142);
    display: inline-block;

}

.buttonContainer{

}

.buttonContainer>ul{

}

buttonContainer>ul>li{

}