body{
    margin: 0;
    background-image: url(../Pictures/collegeDesktop.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: grey; 
}

.headerArea{
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;

}

/*News Container*/
.newsContainerClass{
    height: 20px;
    background-color: rgba(255, 255, 0, 0.388);
    font-style: oblique;
    margin: 0;
    border: 1px;
    border-top: 2px;
    border-style: solid;
    border-color: black;
    position: sticky
} 

.newsContainerClass>div{
    float: left;
    background-color: rgba(255, 255, 0, 0);
    width: auto;
}
.dynamicNewsContainerClass{
    width: auto;
    height: 20px;
    overflow: hidden;
    margin-left: 10px;
}
.dynamicNewsContainer>div{
    height: 18px;
    width: 100%;
    margin-top: 10px;
}

/*Navagation section*/

.menuContainer{
    
    height: 30px;
    background-color: rgba(255, 255, 0, 0.388);
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: height 2s;
    border: 1px;
    border-bottom: 2px;
    border-style: solid;
}
.openMenuContainer{
    background-color: rgba(255, 255, 255, 0);
    float: left;
    width: 40px;
    height: 30px;
    margin-left: 5px;
}

.innerOpenMenuContainer{
    height: 20px;
    width: 100%;
    display: inline-block;
    margin: 0;
    border: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.innerOpenMenuImage{
    height:10px;
    width: 20px;
    background-color: rgba(255, 255, 255, 0);
    margin: 0;
}

.innerOpenMenuImage1{
    height: 10px;
    width:20px;
    background-color: rgba(255, 255, 255, 0);
    -moz-transition: all 1s ease; /* Firefox */
    -webkit-transition: all 1s ease; /* WebKit */
    -o-transition: all 1s ease;/* Opera */
    transition: all 1s ease;/* Standard */
}
.innerOpenMenuImage2{
    height: 10px;
    width:20px;
    background-color: rgba(255, 255, 255, 0);
    -moz-transition: all 1s ease; /* Firefox */
    -webkit-transition: all 1s ease; /* WebKit */
    -o-transition: all 1s ease;/* Opera */
    transition: all 1s ease;/* Standard */
}
.openMenuContainer:hover .innerOpenMenuImage1{
    -moz-transform: rotate(45deg);/* Firefox */
    -webkit-transform: rotate(45deg);/*Webkit*/
    -o-transform: rotate(45deg);/* Opera */
    transform: rotate(45deg);/* Standard */
    position: fixed;
    left : 0;
    top: 30px;
}

.openMenuContainer:hover .innerOpenMenuImage2{
    -moz-transform: rotate(-45deg);/* Firefox */
    -webkit-transform: rotate(-45deg);/*Webkit*/
    -o-transform: rotate(-45deg);/* Opera */
    transform: rotate(-45deg);/* Standard */
    position: fixed;
    left: 0;
    top: 30px;
}

.socialMediaContainer{
    width: 50%;
    height: 20px;
    background-color: rgb(160, 142, 142, 0);
    float: left;

}
.menuContainer:hover{
    height: 100px;

}

.menuContainer:hover .innerOpenMenuImage1{
    -moz-transform: rotate(90deg);/* Firefox */
    -webkit-transform: rotate(90deg);/*Webkit*/
    -o-transform: rotate(90deg);/* Opera */
    transform: rotate(90deg);/* Standard */
    position: fixed;
    left : 0;
    top: 30px;
}

.menuContainer:hover .innerOpenMenuImage2{
    -moz-transform: rotate(-180deg);/* Firefox */
    -webkit-transform: rotate(-180deg);/*Webkit*/
    -o-transform: rotate(-180deg);/* Opera */
    transform: rotate(-180deg);/* Standard */
    position: fixed;
    left: 0;
    top: 30px;
}

.buttonContainer{
    margin: 50px;
    height: auto;
    Width: auto;
    float:left;
    border: 1px;
    border-style: solid;
}

.navButton{
    margin-right: 15px;
    float: left;
    height: auto;
    width: auto;
}

.navButton:hover{
    text-align: center;
    border: 2px;
    border-style: solid;
}

.spacerDiv{
    float:left;
    width: 25vw;
    height: 150px;
}

.mainContentSpacerDiv{
    float:left;
    width: 10vw;
    height: 150px;
}
.owlContainer{
    float: right;
    height:0px;
    width: 87px;
    top: 0px;
    transition: height 2s;
}
.fitInside{
 height: 100%;
 width: 100%;
}

.menuContainer:hover .owlContainer{
     height: 70.5px;
     background-color: rgba(0,0,0,0);
}

/* footer section*/
.rocketContainer{
    position: sticky;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    height: 30px;
    width:100%;
}

.rocketPictureContainer{
    background-color: rgba(255, 255, 0, 0.388);
    height: 30px;
    width:100%;
}
}